 # Determining a Price Point Through A/B Test
 
 **Product Manager at FarmBurg, a company that makes a farming simulation social network game. In the FarmBurg game, people can plow, plant, and harvest different crops.The product manager has been conducting an A/B Test with three different variants.**

In [7]:
import pandas as pd
from scipy.stats import binom_test

### They are trying to get users to purchase a small FarmBurg upgrade package. It’s called a microtransaction. They’re not sure how much to charge for it, so they tested three different price points: 
   A) 0.99 $   
   B) 1.99$, and 
   C) 4.99 $.

**Total Visits**

In [3]:
df = pd.read_csv('clicks.csv')
num_visits = df.user_id.count()
print(num_visits)

4998

In [6]:
df['is_purchase'] = df.click_day.apply(lambda x: "Purchase" if pd.notnull(x) else "No Purchase")


purchase_counts = df.groupby([df.group, df.is_purchase]).user_id.count().reset_index()

purchase_counts

  group  is_purchase  user_id
0     A  No Purchase     1350
1     A     Purchase      316
2     B  No Purchase     1483
3     B     Purchase      183
4     C  No Purchase     1583
5     C     Purchase       83

### **They really want to know is if each price point allows to make enough money that we can exceed some target goal. They need to generate a minimum of "1000 Dollar" per week in order to justify this project.**

**So, Visitors needed per price point is:**

In [4]:
p_clicks_099 = (1000 / 0.99) / num_visits
p_clicks_199 = (1000 / 1.99) / num_visits
p_clicks_499 = (1000 / 4.99) / num_visits

# Binomial Test

## Here a binomial test on each group to see if the observed purchase rate is significantly greater than what the company needs in order to generate at least "1,000 Dollar" per week is needed.

#### For Price Point A(0.99 Dollar)

In [8]:
pvalueA = binom_test(316, 1666, p_clicks_099)
print(pvalueA)

0.2111287299402726

#### For Price Point B(1.99 Dollar)

In [9]:
pvalueB = binom_test(183, 1666, p_clicks_199)
print(pvalueB)

0.20660209246555486

#### For Price Point C(4.99 Dollar)

In [10]:
pvalueC = binom_test(83, 1666, p_clicks_499)
print(pvalueC)

0.045623672477172125

# Final Answer = 4.99 Dollar need to be the upgrade price.